.idea/
*.iml
*.ipr
*.iws

/profile-out/
/profile-out-*/
/gradle-user-home/

**/.classpath
**/.project
**/.settings/

.gradle/

.DS_Store

**/build/
**/out/
**/bin/
**/target/

hs_err_pid*.log

/local.properties
