name: Generate and save dependency graph

on:
    pull_request:

permissions:
    contents: read

jobs:
    dependency-submission:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 17

            - name: Generate and save dependency graph
              uses: gradle/actions/dependency-submission@v5
              with:
                  dependency-graph: generate-and-upload
